* {
    margin: 0;
    padding: 0;
}

/* CARDS */
.cards{
    margin-top: 30px;
}

.cards h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    /* align-items: center; */
    color: lightblue;
}

.p_cards{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 40px;
}

.artigos{
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.artigo{
    padding: 30px;
}

.artigo h2{
    text-align: center;
    color: lightblue;
}

.artigo p{
    padding: 30px;
}


/* CARDS FIM */