* {
    margin: 0;
    padding: 0;
}

/* CARDS */
.cards{
    margin-top: 30px;
}

.cards h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    /* align-items: center; */
    color: lightblue;
}

.p_cards{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 20px;
    padding: 30px 390px;
    /* padding: 10px; */
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-around;
    /* margin-left: 100px; */
}

.artigos{
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.artigo{
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artigo h2{
    text-align: center;
    color: lightblue;
    margin-top: 10px;
}

.artigo p{
    padding: 30px;
    text-align: center;

}

.artigo img{
    height: 200px;
    width: 200px;
    /* margin-left: 100px; */
    margin: 0 auto;

}


/* CARDS FIM */